{% extends 'base.html' %}

{% block title %}Flask App{% endblock title %}

{% block content %}
    <div class="container-fluid position-relative">
        <h1>Create New User</h1>
        <div>
        <div class="input-group mb-3">
            <span class="input-group-text">First and last name</span>
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select User</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Clear All</a></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            <input id="first-name" type="text" aria-label="First name" class="form-control">
            <input id="last-name" type="text" aria-label="Last name" class="form-control">
          </div>
          <div id="nameHelpBlock" class="form-text">
                Your First and Last Name must be 8-20 characters long each, contain letters only(no numbers, special characters, or emojis).
              </div>
              <br/>
        </div>
          <div class="input-group">
            <span class="input-group-text">Enter hobbie(s)</span>
            <textarea id="hobbies" class="form-control" aria-label="With textarea"></textarea>
          </div>

          <br/>
          <button id="btn-create" class="btn btn-primary" type="submit">Create</button>
          <button class="btn btn-primary" type="submit">Modify</button>
          <button class="btn btn-primary" type="submit">Delete</button>
          <button type="button" class="btn btn-primary active" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Show all users</button>
          <br/>
          <div>
              <br/>
              {{ users }}
          </div>

    </div>
{% endblock content %}